.container {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

}


/* hero-section */

.hero-title {
    text-align: center;
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-fon);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
}

.hero {
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--nav-text-color);

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel1.jpg);
    background-size: cover;
    background-color: rgba(46, 47, 66, 0.7);
}

.button {
    display: inline-block;
    border: 1px solid var(--color-E7E9FC);
    border-radius: 4px;
    padding: 11.5px 23.5px;
    min-width: 69px;
    text-align: center;

    background-color: var(--color-F4F4FD);
    color: var(--blu-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: color var(--efect-transmision),
        background-color var(--efect-transmision), box-shadow var(--efect-transmision);
}


.button:hover,
.button:focus {
    background-color: var(--color-404BBF);
    color: var(--white-fon);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.button.primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    background-color: var(--blu-color);
    color: var(--white-fon);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color var(--efect-transmision);
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--color-404BBF);
}


/* Advantages */

.section-advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.future-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0;

}

.advantages-section {
    display: none;
}

.future-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--nav-text-color);
}

.future-text {
    font-weight: 500;
}

/* послуги */

.section {
    display: none;
}

/* TEAM */

.team {
    background-color: var(--color-F4F4FD);
    padding-top: 96px;
    padding-bottom: 128px;
}

.section-title {
    margin-bottom: 72px;
    color: var(--nav-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-list {

    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0;
}

.team-item {
    max-width: max-content;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-fon);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-left: auto;
    margin-right: auto;
}

.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--nav-text-color);
    margin-bottom: 8px;
}

.team-position {
    margin-bottom: 8px;
}

/* TEAM social */
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blu-color);
    transition: background-color var(--efect-transmision);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--color-404BBF);
}

.social-list-icon {
    fill: var(--color-F4F4FD);
    width: 16px;
    height: 16px;
}

/* customers */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}


.customers-list {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    padding: 0;
}

.customers-list-link {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border: 1px solid var(--customers-icon-color);
    border-radius: 4px;
}

.customers-list-item {
    width: calc((100% - 16px) / 2);
}


.customers-list-icon {
    fill: var(--customers-icon-color);
    width: 110px;
    height: 56px;
}





/* FOOTER */

.footer {
    padding: 96px 15px;
    background-color: var(--nav-text-color);
}

.footer-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 72px;
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    flex-direction: column;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-F4F4FD);
    margin-bottom: 16px;
    display: block;
}

.logo-text {
    color: var(--blu-color);
}

.footer-text {
    letter-spacing: 0.02em;
    width: 264px;
    color: var(--color-E7E9FC);
}

.social-title-footer {
    display: block;
    font-weight: 500;
    color: var(--white-fon);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    padding-left: 0;
}

.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
}

.social-list-link-footer>svg {
    fill: var(--color-F4F4FD);
}

.footer-conect-text {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--white-fon);
}

.footer-conect {
    width: 100%;
    text-align: center;
}

.footer-conect-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 16px;
}

.footer-conect-input {
    width: 100%;
    height: 40px;
    background-color: var(--nav-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--white-fon);
}

.footer-conect-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-conect-button {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 16px;
    width: 165px;

    background: var(--blu-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--white-fon);
}

.modal-conect-icon {
    width: 24px;
    height: 24px;
}

/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--efect-transmision), visibility var(--efect-transmision);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: auto;
}

.modal-close-btn-icon {
    width: 8px;
    height: 8px;
    transition: fill var(--efect-transmision);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-E7E9FC);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
}

.modal-text {
    font-weight: 500;
    color: var(--nav-text-color);
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-name {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--customers-icon-color);
    margin-bottom: 4px;
}

.modal-form-name.another-name {
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 24px;
}

.modal-form-input {
    width: 100%;
    height: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 18px;

}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--nav-text-color);
    transition: border-color var(--efect-transmision);
}

.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}


.modal-form-message:focus {
    outline: none;
    border-color: var(--blu-color);
}

.modal-form-check-desk {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    transition: border-color var(--efect-transmision);
    margin-bottom: 24px;
    margin-top: 16px;
}

.modal-form-check-desk::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--nav-text-color);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    content: '';
}

.modal-form-check:checked+.modal-form-check-desk::before {
    background-color: var(--color-404BBF);
    border-color: var(--color-404BBF);
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.modal-form-check:focus+.modal-form-check-desk::before {
    border-color: var(--color-404BBF);
}

.privacy-link {
    text-decoration: underline;
    text-decoration-color: var(--blu-color);
}

.modal-form-link {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--blu-color);
}

.modal-form-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-fon);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--blu-color);
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* HEADER */

.part-header {
    border-bottom: 1px solid var(--color-E7E9FC);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--nav-text-color);
}

.logo .logo-partone {
    color: var(--blu-color);
}

.list-header {
    display: none;
}

.list-header-contact {
    display: none;
}

address {
    display: none;
}


/* MOBOLE MENU */

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-icon {
    stroke: var(--nav-text-color);
    width: 32px;
    height: 22px;
}

.mobile-menu-close-icon {
    width: 8px;
    height: 8px;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--white-fon);
    opacity: 0;
    visibility: none;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 80px;
    /* padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 40px; */
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-E7E9FC);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
}

/* моб меню НАПОВНЕЕНЯ */

.mobile-menu-foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--nav-text-color);
    transition: color var(--efect-transmision);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--color-404BBF);
}

.mob-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* margin-top: 210px; */
}

.tel {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.11;
    color: var(--blu-color);
}

.email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
}

.menu {
    margin-top: 48px;
    padding-left: 40px;
    padding-right: 60px;
    justify-content: space-between;
    gap: 56px;

}




/* .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
} */


@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal {
        width: 392px;
        height: 586px;
    }

    .hero {
        /* width: 428px; */
        margin-left: auto;
        margin-right: auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel1.jpg);
        background-size: cover;
        background-color: rgba(46, 47, 66, 0.7);
    }

    .customers-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        padding: 0;
    }

    .customers-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 88px;
        border: 1px solid var(--customers-icon-color);
        border-radius: 4px;

    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 479px),
screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 479px),
screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 479px) {

    .hero {
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel2.jpg);
        background-size: cover;
        background-color: rgba(46, 47, 66, 0.7);
    }
}



@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
screen and (min-resolution: 192dpi) and (min-width: 480px),
screen and (min-resolution: 2dppx) and (min-width: 480px) {

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tel2.jpg);
        background-size: cover;
        background-color: rgba(46, 47, 66, 0.7);
    }
}