:root {
    --p-text-color: #434455;
    --background-color: #E5E5E5;
    --nav-text-color: #2E2F42;
    --blu-color: #4D5AE5;
    --white-fon: #ffffff;
    --color-F4F4FD: #F4F4FD;
    --color-E7E9FC: #E7E9FC;
    --color-404BBF: #404BBF;
    --customers-icon-color: #8E8F99;
    --efect-transmision: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}